.nav {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #F2F4F7;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
}